<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>741968228837-9p2mbcc85umbkg5ubq45s45utnv0ronh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741968228837-9p2mbcc85umbkg5ubq45s45utnv0ronh</string>
	<key>API_KEY</key>
	<string>AIzaSyBlUwpVwnzMiFy7cemskdC2ggE6SVLRX_o</string>
	<key>GCM_SENDER_ID</key>
	<string>741968228837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.-HideakiTouhara.RemotePush</string>
	<key>PROJECT_ID</key>
	<string>pushnn1-f8cb9</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnn1-f8cb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741968228837:ios:c645e5a5aef2fd6a</string>
	<key>DATABASE_URL</key>
	<string>https://pushnn1-f8cb9.firebaseio.com</string>
</dict>
</plist>